// Set these values when importing this module file, if you wish.
// See how to: https://sass-lang.com/documentation/at-rules/use#configuring-modules
$font: "Ubuntu", Helvetica, Arial, sans-serif !default;
$color: #212121 !default;
$color-light: #bdbdbd !default;
$background: #f5f5f5 !default;

$link-base: #c2185b !default;
$link-active: #e91e63 !default;

// HTML is set to 62.5% so that all the REM measurements
// throughout Skeleton are based on 10px sizing.
// Which means: 1.5rem = 15px
html { font-size: 62.5%; }

body {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: $font;
  color: $color;
  background-color: $background;
}

a, a:link, a:visited { color: $link-base; }
a:hover, a:active { color: $link-active; }

hr {
  text-align: center;
  line-height: 1px;
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  height: 1px; // Gap between the lines
  font-size: 1rem;
  border-width: 1px 0; // Top and bottom borders
  border-style: solid;
  border-color: $color-light;
  overflow: visible;
  box-sizing: content-box;
  &::after {
    content: "§";
    display: inline;
    color: $color-light;
    background-color: $background; // Same as background color
    padding: 0 0.5em; //S ize of background color knockout
  }
}

// Spacings

button, .button {
  margin-bottom: 1rem;
}
input, textarea, select, fieldset {
  margin-bottom: 1.5rem;
}
pre, blockquote, dl, figure, table,
p, ul, ol, form {
  margin-bottom: 2.5rem;
}

// Self Clearing Stuff
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}
